/* Adicionar classes de estilo que estarão disponíveis apenas na página de artigos */

.article{
    background: #f6f6f6;
}

.article-title {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.article-image {
    border-radius: 20px;
    margin-right: 20px;
    width: 250px;
    height: 200px;
    float: left;
}

.article-paragraph p {
    display: inline;
}
